// @import-normalize;

html, body, #root, .App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
}

.App-container {
  // background-color: hsla(0, 0%, 100%, 0.75);
  background-color: hsl(0, 0%, 89%);
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  flex-grow: 1;
  overflow: clip;
  display: flex;
  flex-flow: row nowrap;
}

.Dashboard-container {
  flex-grow: 1;
  // width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.Timekeeper-container {
  display: none;
}

.Settings-sidebar {
  display: none;
  min-width: 18rem;
  background: hsl(0, 0%, 88%);
  padding: 1rem 1rem 0.5rem;
}

.BlimpGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 3em;
  margin: 3rem;
  max-width: 90em;

  &>div {
    min-width: 16rem;
    flex-grow: 0.5;
    max-width: 22rem;
  }
}

.App-footer {
  background-color: hsl(0, 0%, 89%);
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: 0 0 5rem 0 hsla(0, 0%, 20%, 0.1);
}
