.controllers {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;


  * {box-sizing: border-box;}


  .ControllerButton-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    $horizontal-transform: -50%;

    .blimpSelector-positioner {
      font-size: 1.1rem !important;
      position: relative;
      top: -5.8em;
      width: 0;
      height: 0;
      transform: translate(0, 2em);
      transition: transform 0.2s ease, opacity 0.2s ease;
      opacity: 0;
      pointer-events: none;
    }
    .blimpSelector-container {
      position: absolute;
      padding: 0.5rem;
      $background: hsla(0, 0%, 85%, 0.8);
      background: $background;
      transform: translate(-50%, 50%);
      border-radius: 0.5rem;

      input {
        width: 8em;
        height: 2em;
        border: 0;
        background: transparent;
        text-align: center;
        font-size: inherit;
        outline: none;
        caret: block
      }
      &::after {
        $height: 0.75rem;
        content: '';
        display: block;
        position: absolute;
        bottom: -$height;
        left: 50%;
        transform: translate(-50%);
        border-top: $height solid $background;
        border-left: $height solid transparent;
        border-right: $height solid transparent;
      }
    }
    &.active .blimpSelector-positioner {
      transform: translate(0, 0);
      opacity: 1;
      pointer-events: auto;
    }
  }
  .ControllerButton {
    width: 10rem;
    height: 8rem;
    background: hsla(0, 0%, 100%, 0.7);
    margin: 0 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.active {
      border: 2px solid black;
    }
    z-index: 1;
  }
}

.GamepadViz-container {
  width: 7rem;
}

.footerButton {
  overflow: hidden;
  height: 8rem;
  margin: 0.75rem;
  border-radius: 1.5rem;
  // box-shadow: 1px 2px 10px 0px hsla(0, 0%, 10%, 0.2);
}

.Connection-container {
  align-self: flex-start;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;

  .ConnectButton{
    max-width: 20rem;
    min-width: 12rem;
  }
  .disconnected {
    background: hsla(0, 20%, 60%, 0.9);
  }
  .connected {
    background: hsla(120, 20%, 60%, 0.9);
  }
  .busy {
    background: hsla(120, 20%, 60%, 0.9);
  }
  .unsupported {
    background: hsla(0, 0%, 70%, 1.0);
    cursor: not-allowed;
    &>* {
      opacity: 0.5;
    }
  }
}

.ControllerIndicator {
	.prefix__ControllerIndicator {
		// stroke: #000;
		stroke-miterlimit: 10;
		fill: #fff;
		filter: drop-shadow( -3px 3px 8px hsla(0, 0%, 10%, .3));
	}
	text.controllerIndex {
		fill: #000;
	}
}

.GamepadViz-container {
	$stroke: hsl(0, 0%, 20%);
	$fill: hsl(0, 0%, 100%);
	$active-stroke: $stroke;
	.prefix__st0 {
	    stroke: $stroke;
	    stroke-miterlimit: 10
	}

	.prefix__st0,
	.prefix__st1 {
	    fill: #fff;
	}
	.prefix__st2 {
	    fill: none;
	    stroke: $stroke;
	    stroke-miterlimit: 10
	}

	.on {
	    fill: $active-stroke;
	}

	text.controllerIndex {
		fill: hsl(0, 0%, 35%);
	}
}
